#sButton{
    width:100%;
    margin:0;
    border:0;
    
}

#pRow{
    width:100vw;
     height:100vh;
}
#pCol{
    border:1px black solid;
padding-bottom: 9px;
border-radius: 5px;
}
.cRow{
    
}
#form{
    height:100%;
}
.fCheck{
    width:20px;
    height:20px;
    position: relative;
    top:3px;
    margin-right: 5px;
}
.fLabel{
    font-size:24px;
    
}

